/* ================= LOGIN PAGE ================= */

.login{

    width:100%;
    min-height:100vh;

    background:#F8FAFC;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:30px;
}

.login-box{

    width:420px;

    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.login-box h1{

    color:#2563EB;

    text-align:center;

    margin-bottom:10px;
}

.login-box p{

    text-align:center;

    color:#64748B;

    margin-bottom:30px;
}

.input-box{

    display:flex;

    flex-direction:column;

    margin-bottom:20px;
}

.input-box label{

    margin-bottom:8px;

    font-weight:600;
}

.input-box input{

    padding:12px;

    border:1px solid #ccc;

    border-radius:8px;

    outline:none;

    font-size:15px;
}

.input-box input:focus{

    border-color:#2563EB;
}

.login-options{

    display:flex;

    justify-content:space-between;

    margin-bottom:25px;

    font-size:14px;
}

.login-options a{

    color:#2563EB;

    text-decoration:none;
}

.login-btn{

    width:100%;

    padding:14px;

    border:none;

    border-radius:8px;

    background:#2563EB;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;
}

.login-btn:hover{

    background:#1D4ED8;
}

.divider{

    text-align:center;

    margin:25px 0;

    color:#64748B;
}

.google-btn{

    width:100%;

    padding:14px;

    border:1px solid #ddd;

    border-radius:8px;

    background:white;

    cursor:pointer;

    transition:.3s;
}

.google-btn:hover{

    background:#F1F5F9;
}

.register-text{

    text-align:center;

    margin-top:25px;
}

.register-text a{

    color:#2563EB;

    text-decoration:none;

    font-weight:600;
}