.search-page{

    width:100%;
    min-height:100vh;

    background:#F8FAFC;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px;
}

.search-card{

    width:700px;

    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.search-card h1{

    text-align:center;

    color:#2563EB;
}

.search-card p{

    text-align:center;

    margin:15px 0 35px;

    color:#64748B;
}

.input-group{

    display:flex;

    flex-direction:column;

    margin-bottom:20px;
}

.input-group label{

    margin-bottom:8px;

    font-weight:600;
}

.input-group input,
.input-group select{

    padding:12px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:15px;
}

button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:8px;

    background:#2563EB;

    color:white;

    font-size:16px;

    cursor:pointer;
}

button:hover{

    background:#1D4ED8;
}