*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    background: #f8faf8;
    color: beige;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
button{
    cursor:pointer;
}